#bodyId {
  background-color: rgb(247, 242, 236);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: rgb(85, 104, 85);
  text-align: center;
}

#container {  
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  width: 100%;
}

.bingoboard {
  display: flex;
  flex-wrap: wrap;
  width: 798px;
  margin: 0px auto;
}

.bingoboardcell {
  background-color: rgb(238, 102, 122);
  color: black;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.randombingocell {
  color: rgb(50, 50, 250);
  background: rgb(160, 236, 167);
  height: 40px;
  width: 10%; 
  font-size: 1.4rem;
  border: 1px solid rgb(37, 170, 44);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px;
}

.randombingocell2 {
  color: rgb(50, 50, 250);
  background: rgb(87, 216, 100);
  height: 40px;
  width: 10%; 
  font-size: 1.6rem;
  border: 1px solid rgb(60, 172, 65);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px;
}

.bingoboard24 {
  width: 504px;
  display: flex;
  flex-wrap: wrap;

  margin: 10px auto;
} 

.bingoboardcell24 {
  background-color: lightpink;
  color: black;
  width: 40px;
  height: 40px;
 
  text-align: center;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  padding-top: 1rem;
}

input {
  margin: 0.4rem;
  width: 3rem;
}

h1:hover {
  color: rgb(67, 141, 67);
  /* background-color:rgb(255, 251, 247);  */
}

.randombingocell:hover {
  opacity: 80%;
} 

.bingoboardcell:hover {
  opacity: 80%;
}

.bingoboardcell24:hover {
  opacity: 80%;
}